{{#partial "content"}}

    {{#if users}}
        {{#each users}}

            <div class="well" style="text-align:center">
                <small style=" text-align:center"> ~For every minute spent organizing, an hour is earned~  </small><br><br>

                <p> News Header: {{ name }} </p>
                <p> Information {{ title }} </p>
                <p> Said by: {{ duty }} </p>
                <p> Said by: {{ dname }} </p>
            </div>

        {{else}}

            <h1>blah blah</h1>


        {{/each}}
    {{/if}}


{{/partial}}

{{> layout.hbs}}